@font-face {
  font-family: "Gilroy";
  src: url(Gilroy-Medium.ttf) format(truetype);
}

body, html {
  height: 100%;
  width: 100%;
  font-family: "Gilroy";
  scroll-behavior: smooth;
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px, 50px;
  box-shadow: 1px 2px 30px black;
  backdrop-filter: blur(20px);
}
.nav-h1 span{
  color: rgb(112, 247, 112);
}
.nav-option a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 40px;
  font-weight: 600px;
}
.nav-option a:hover{
  color: rgb(112, 247, 112);
  border-bottom: 3px solid black;
}

.nav-btn button{
  background-color: rgb(112, 247, 112);
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 150px;
  font-size: 17px;
  margin-right: 10px;
  font-weight: 500;
  cursor: pointer;
}
.nav-btn button:hover{
  background-color: black;
  color: rgb(112, 247, 112);
}

.herosection{
  height: 500px;
  width: 100%;
  display: flex;
  padding: 70px;
}

.herosection-left{
  height: 500px;
  width: 50%;
  padding: 70px;
}
.herosection-left-1{
  font-size: 25px;
}
.herosection-left-2{
  font-size: 45px;
  color: rgb(112, 247, 112);
}
.herosection-left-3{
  font-size: 25px;
}

.herosection-left-btn button{
  height: 50px;
  width: 130px;
  border-radius: 10px;
  border: none;
  color: rgb(112, 247, 112);
  background: #000;
}

.herosection-right{
  height: 500px;
  width: 50%;
}
.herosection-right-hrk{
  padding-top: 40px;
  border-radius: 100%;
  margin-left: 100px;
  
}

.about{
  height: 500px;
  width: 100%;
  display: flex;
  padding-top: 70px;
}
.about-left{
  height: 500px;
  width: 50%;
  padding-top: 50px;
}
.about-left img{
  border-radius: 100%;
  margin-left: 50px;
}
.about-right{
  height: 500px;
  width: 50%;
}
.about-right-1 h2{
  text-align: center;
  font-size: 35px;
  color:rgb(112, 247, 112);
}
.about-right-2 p{
  text-align: start;
  font-size: 25px;
  margin-right: 10px;
}

.service{
  height: 500px;
  width: 100%;
  display: flex;
  padding-top: 70px;
}
.service-left{
  height: 500px;
  width: 33%;
  background-color: aqua;
}
.service-middle{
  height: 500px;
  width: 33%;
  background-color: red;
}
.service-right{
  height: 500px;
  width: 33%;
  background-color: green;
}

.project{
  height: 500px;
  width: 100%;
  display: flex;
  padding-top: 70px;
}
.project-left{
  height: 500px;
  width: 33%;
  background-color: aqua;
}
.project-middle{
  height: 500px;
  width: 33%;
  background-color: red;
}
.project-right{
  height: 500px;
  width: 33%;
  background-color: green;
}


.contact{
  height: 500px;
  width: 100%;
  display: flex;
  padding-top: 70px;
}
.contact-left{
  height: 500px;
  width: 50%;
  margin: 50px;
  border-radius: 50px;
}
.contact-left-text{
  padding: 20px;
  background-color: rgb(112, 247, 112);
  margin-right: 70px;
  font-size: 20px;
}
.contact-right{
  height: 500px;
  width: 50%;
  margin: 50px;
  align-items: center;
}
.contact-right input{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 70%;

}
.contact-right textarea{
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  height: 50px;
}
.sub-btn button{
  background-color: rgb(112, 247, 112);
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 150px;
  font-size: 17px;
  margin-right: 10px;
  font-weight: 500;
  cursor: pointer;
}
.sub-btn button:hover{
  background-color: black;
  color: rgb(112, 247, 112);
}
.footer{
  width: 100%;
  height: 250px;
  background-color: gray;
  color: rgb(112, 247, 112);
  font-size: 30px;
}
.footer p{
  text-align: center;
  padding-top: 125px;
}